{# Handle view file #}
<link rel="stylesheet" href="{{plugin_path('NovalnetWhatsapp')}}/css/novalnetwhatsapp.css">
<script type="text/javascript" src="{{plugin_path('NovalnetWhatsapp')}}/js/novalnetwhatsapp.js"></script>

<div>
<img src="{{plugin_path('NovalnetWhatsapp')}}/images/whatsapp.png" alt="whatsapp-chat" width="45" height="45"  class="whatsappwidget" id="whatsappwidget" style="cursor:pointer;">
</div>
	<div  class="whatsappcontainer" style="display:none;height:430px;width:350px;">
		
		<div class="whatsapp-header" style="height:70px;width:350px;background-color: #075e54;color:white;align-items:center;padding-top:10px;border-radius:6px 6px 0 0;">
			<div style="float:left;padding-left:15px;margin-top:10px; font-weight: bold;">
				Whatsapp Chat
			</div>
			<div class="whatsapp-cancel" style="float:right;padding-right:15px;cursor:pointer; font-weight: bold;">
				X
			</div>
		</div>
		
		<div style="height:60px;width:350px;background-color: white;padding:5px 0px">Hi Guest! Please click one of our representative Below To Chat on Whatsapp</div>
		
		<div style="height:85px;width:350px;background-color: white;display:flex;padding:10px 0px" class="member1" id="manager" onclick="whatsapp(1)" phone="8754754860">
			<div><img src="{{plugin_path('NovalnetWhatsapp')}}/images/manager.png" alt="whatsapp-chat" width="50" height="50" style="border-radius: 50%;cursor:pointer"></div>
			<div style="margin-left:10px">
				<div style="font-weight: bold;cursor:pointer">Jhon</div>
				<div style="cursor:pointer;font-size:14px;">Manager</div>
			</div>
		</div>
		
		<div style="height:85px;width:350px;background-color: white;padding:10px 0px;display:flex;" class="member2" id="leader" onclick="whatsapp(2)" phone="9488732051">
			<div><img src="{{plugin_path('NovalnetWhatsapp')}}/images/leader.png" alt="whatsapp-chat" width="50" height="50" style="border-radius: 50%;cursor:pointer"></div>
			<div style="margin-left:10px">
				<div style="font-weight: bold;cursor:pointer">Peter</div>
				<div style="cursor:pointer;font-size:14px;">Leader</div>
			</div>
		</div>
		
		<div style="height:85px;width:350px;background-color: white;padding:10px 0px;display:flex;" class="member3" id="employee" onclick="whatsapp(3)" phone="9488732052">
			<div><img src="{{plugin_path('NovalnetWhatsapp')}}/images/employee.png" alt="whatsapp-chat" width="50" height="50" style="border-radius: 50%;cursor:pointer"></div>
			<div style="margin-left:10px">
				<div style="font-weight: bold;cursor:pointer">Son</div>
				<div style="cursor:pointer;font-size:14px;">Employee</div>
			</div>
		</div>
		
		<div style="height:45px;width:350px;background-color: white;padding:1px 0px;text-align:center;font-size: 12px;">
		<hr><span style="margin-bottom:30px;">Plentymarkets</span></div>
	</div>
